#main {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #222;
}

input {
  display: block;
  margin-bottom: 10px;
}
.card {
  max-width: 300px;
  color: white;
  padding: 20px;
  border: 1px solid #555;
  display: inline-block;
  margin-top: 40px;
  border-radius: 10px;
}
.card p {
  font-size: 12px;
  margin-top: 10px;
}
.card h5 {
  margin-top: 3px;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 7px;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
